<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">
  <variable name="logDir" value="../Logs/${shortdate}" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="file" xsi:type="File" fileName="${logDir}/Setting.Service/${machinename} ${shortdate}.log" layout="${longdate}|${level}|[${threadid}]|${logger}|${message} ${exception:format=ToString}" keepFileOpen="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="GelfUdp" />
  </rules>
</nlog>
