<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logDir" value="../Logs/${shortdate}" />

  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} ${callsite:className=true:methodName=true} - ${message}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  <variable name="commonLayout" value="${longdate}|${uppercase:${level}}|[${threadid}|${logger}|${event-properties:item=EventId_Id}|${message} ${exception:format=tostring}" />
  <variable name="detailedLayout" value="${longdate}|${uppercase:${level}}|[${threadid}|${logger}|${event-properties:item=EventId_Id}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="debuggerLog" xsi:type="Debugger" layout="${shortLayout}" />
    <target name="consoleLog" xsi:type="Console" layout="${shortLayout}" />
    <target name="errLog" xsi:type="File" fileName="${logDir}/error.log" layout="${detailedLayout}" />
    <target name="fullLog" xsi:type="File" fileName="${logDir}/full.log" layout="${detailedLayout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="GelfUdp" />

    <!-- 
    Trace - детальное логирование (все сообщения) 
    Debug - отладочное логирование, менее детально чем Trace 
    Info - логирование информационных сообщений 
    Warn - логирование сообщений о предупреждениях 
    Error - логирование сообщений об ошибках 
    Fatal - логирование сообщений о критических ошибках(только критические сообщения) 
    Off - логирование сообщений не производиться
    -->
    <logger name="*" minlevel="Trace" writeTo="fullLog" />
    <logger name="*" minlevel="Error" writeTo="errLog" />
    <!-- Вспомогательные log -->
    <logger name="*" minlevel="Trace" writeTo="debuggerLog" />
    <logger name="*" minlevel="Trace" writeTo="consoleLog" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

  </rules>
</nlog>
